<div class="container-xl">
  <h1 class = "display-2 text-center" ><%= @recipe.name %></h1>
    <div class="cook-time text-center">
      <h5 class ="card-title" >Estimated Cooking Time: <%=@recipe.cook_time %> Minutes </h5>
    </div>
    <br>
    <div class="row">
      <div class="col-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Ingredients</h5>
            <% @recipe.ingredients.each do |ingredient|%>
              <p class= "card-text"><%= ingredient.values.first%>: <%= ingredient.values.second%> <%= ingredient.values.third%></p>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Instructions</h5>
            <% @recipe.instructions.each do |instruction| %>
              <% instruction.each do |k| %>
              <p class="card-text"><%= k.values.first%>.) <%= k.values.second%> </p>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>     
      <div class="col-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><%= @recipe.name%> </h5>
              <%= image_tag ("https://spoonacular.com/recipeImages/#{@recipe.id}-556x370.jpg"), class: "img-fluid", style: "width: 100%"%>
          </div>
        </div>
      </div>
  <div class="text-center d-grid gap-2 d-md-block">
    <%= link_to "Add to My Meal Plan", "/meal_plan", method: :post, class: "btn btn-success"%>
    <%= link_to "Generate New Meal", "/", method: :get, class: "btn btn-warning"%>
  </div>
</div>