<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pantry Wizard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  </head>
  <body>
<div class="container-xl">
  <h1 class = "display-2 text-center" ><%= @recipe.name %></h1>
    <div class="cook-time text-center">
      <h5 class ="card-title" >Estimated Cooking Time: <%=@recipe.cook_time %> Minutes </h5>
    </div>
    <br>
    <div class="row">
    <% cache("ingredients-list") do %>
        <div class="col-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Ingredients</h5>
              <% @recipe.ingredients.each do |ingredient|%>
                <p class= "card-text"><%= ingredient.values.first%>: <%= ingredient.values.second%> <%= ingredient.values.third%></p>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
      <div class="col-4">
       <% cache("instructions-list") do %>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Instructions</h5>
              <% @recipe.instructions.each do |instruction| %>
                <% instruction.each do |k| %>
                <p class="card-text"><%= k.values.first%>.) <%= k.values.second%> </p>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>     
      <div class="col-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><%= @recipe.name%> </h5>
              <%= image_tag ("https://spoonacular.com/recipeImages/#{@recipe.id}-556x370.jpg"), class: "img-fluid", style: "width: 100%"%>
          </div>
        </div>
    </div>
</div>
  <div class="text-center d-grid gap-2 d-md-block">
    <br>
      <%= button_to "Add to My Meal Plan", "/create_meal_plan", method: :post, class: "btn btn-success"%>
      <%= button_to "Generate New Meal", "/", method: :get, class: "btn btn-warning"%>
  </div>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    </body>
</html>